@page "/"
@using ClassLibrary.Db
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<TeamDbContext> _db
@using Hackathon.Components

<div>
    <h1>Activities</h1>
</div>
@if (Activities == null)
{
    <div>Loading...</div>
}
else
{
    @foreach (Activity a in Activities)
    {
        <CompActivity activity="@a"/>
    }
}




@code {
    public List<Activity>? Activities { get; set; }

    protected override async Task OnInitializedAsync()
    {

        await using var db = await _db.CreateDbContextAsync();
        Activities = await db.Activities.Include(i => i.Profiles).Include(i => i.Groups).ToListAsync();
    }
}
