@page "/"
@using ClassLibrary.Db
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<TeamDbContext> _db
@using Hackathon.Components

<div>
    <h1><strong>Activities</strong></h1>
@if (Activities == null)
{
    <div>Loading...</div>
}
else
{
    @foreach (Activity a in Activities)
    {
        <CompActivity activity="@a"/>
    }
}
</div>



@code {
    public List<Activity>? Activities { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await using var db = await _db.CreateDbContextAsync();
            Activities = await db.Activities.Include(i => i.Profiles).Include(i => i.Groups).ToListAsync();
        }catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }
    
    }
}
